body {
    font-family: "Hiragino Kaku Gothic ProN";
    margin:0 auto;
    background-image: url("images/coffee.jpg");
    overflow: hidden;
}
.heading {
    font-size:20px;
    text-align: center;
    color:white;
}
.frame{
    width: 200px;
    height: 50px;
    background-color: aqua;
    margin: auto;
    text-align: right;
}
.push-button{
    list-style: none;
}
.wrap{
    margin:0 auto;
    text-align: center;
}
.main{
    padding:100px 0px 400px 0px;
    background-attachment: fixed;
    margin:auto;
    background-size: cover;
}